body{
    font-family:sans-serif;
    background-color: #C6E6EF;
    padding: 0;
    margin: 0;
}

header {
    padding: 15px 0;
    margin-bottom: 0;
    text-align: center;
}

h1 {
    /*color: #5551a1;*/
    background-image:linear-gradient(#7072FB , white);
    /*background-color: #FFF;*/
    padding: 30px;
    margin-bottom: 0;
    display: inline-block;
    color: #5D58F8;
    font-size: 44px;
    font-family: Arial, sans-serif;
    text-shadow: 1px 1px 2px #030234;
    /*text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em cyan;*/
    border-radius: 50%;
}

/*
 *
 * Editor menu
 *
 */
#editText {
    background-color: #FFF;
    color: #5D58F8;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    margin-left: 30px;
    text-shadow: 1px 1px 2px #030234;
    /*text-shadow: 1px 1px 0.8em magenta;*/
    border-style: solid;
    border-radius: 50% 50% 50% 30%;
    border-color: blue;
    border-width: 2px;
}

#form {
    position: fixed;
    transition-duration: 0.5s;
    left: 0;
    top: 25%;
    width: 470px;
    vertical-align: middle;
    z-index: 2;
}

fieldset {
    background-image: linear-gradient(#7072FB, #B8B8CA);
    border-radius: 10% 25% 10% 10%;
    padding: 20px;
    width: 430px;
    color: white;
    margin: 0;
    margin-top: 0;
    font-size: 16px;
}

input, textarea {
    background-color: #C9C9D2;
    border-radius: 10%;
    border-color: #320032;
    color: black;
    font-size: 14px;
    padding: 5px 5px;
    padding-bottom: 8px;
    width: 90%;
    margin: 2px;
}

#formSwich {
    position: absolute;
    right: -11px;
    top: 50%;
    padding: 5px 1px;
    border-radius: 25%
    /*border-style: none;*/
}

#previousButton, #nextButton, #importButton {
    width: 131px;
}

#pasteButton {
    width: 81px;
}


/*
 *
 * Canvas and operations
 *
 */

#gameDiv {
    position: absolute;
    display: block;
    /*border: solid 10px red;*/
    padding-left: 25px;
    width: 95%;
    /*height: auto;*/
    z-index: 1;
}

canvas{
    display: inline;
    border-radius: 15%;
    border-style: solid;
    border-color: #0408F6;
    /*width: 1500px;*/
    /*height: 450px;*/
    /*width: 85%;*/
    /*height: 98%;*/
}

#buttonsDiv {
    background-image: linear-gradient(#7072FB, #B8B8CA);
    display: inline;
    position: absolute;
    top: 33%;
    margin-left:25px;
    padding: 20px 5px;
    text-align: center;
    border-style: double;
    border-color: #555555;
}

#buttonsDiv button {
    width: 90px;
}

#buttonsDiv #swich {
    width: 180px;
}


button {
    background-color: white;
    font-weight: bold;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    border-radius: 15%;
    border-color: #777777;
    color: #5D58F8;
}

button:hover {
    color: #0B0FFF;
    /*color: #5D58F8;*/
    cursor: pointer;
}
